---
const personalImageAlt = "Miguel Ángel";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/diego.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Diego Rozo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-400 [&>strong]:text-yellow-400 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong> Experto en diseño de interfaces y experiencia de usuario, </strong>
    enfocado en crear soluciones digitales atractivas y funcionales. Identifico necesidades
    de usuarios para desarrollar productos intuitivos y accesibles. Con habilidades
    en prototipos y pruebas de usabilidad, colaboro eficazmente con interesados para
    asegurar objetivos alineados y soluciones de alta calidad.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.behance.net/rozdiego">
      <Briefcase class="size-4" />
      Mi portafolio en Behance
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/rozdiego">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
